<!--{template header}-->
<div class="alert alert-info">修改queue<font color="red"> </font></div>
<form action="admincp.php?mod=modify&act=queue&type=1" method="POST" style="display: inline-table;">
	<span>用户名</span>
	<span><input type="text" id="username" name="username" value='{$username}'></input></span>
	<span>UID</span>
	<span><input type="text" id="useruid" name="useruid" value='{$useruid}'></input></span>
	<input class="btn js-btn btn-primary" type="submit" value="{$MALANG['btn_view']}" />
</form>
	<!--{if isset($queue) }-->
		<div id="tip" style="font-size:16px;width:auto;height:auto;padding:2px;border:1px solid #000000;background-color:#ffffdd;position:absolute;visibility:hidden"></div>
		<table class="listTable" style="width: 100%; text-align: center">
		<tr class="listTr">
			<th width=2%>qid</th>
			<th width=2%>type</th>
			<th width=2%>itemId</th>
			<th width=2%>updateTime</th>
		</tr>
		<!--{loop $queue  $key $value}-->
		<tr class="listTr" onMouseOver="this.style.background='#ffff99'" onMouseOut="this.style.background='#fff';" id="$value['qid']" >
			<td width="2%">{$value['qid']}</td>
			<td width="2%">{$value['type']}</td>
			<td width="2%" id="itemId"><a href="javascript:void(edit('{$username}','{$useruid}','itemId','{$value['qid']}','{$value['itemId']}'))">{$value['itemId']}</a></td>
			<td width="2%" id="updateTime"><a href="javascript:void(edit('{$username}','{$useruid}','updateTime','{$value['qid']}','{$value['updateTime']}'))">{$value['updateTime']}</a></td>
		</tr>
		<!--{/loop}-->
		</table>
		<br/>
	<!--{/if}-->
<script type="text/javascript">
var mouseX = 0;
var mouseY = 0;
$(document).mousemove(function (e) {
	mouseX = e.pageX;
	mouseY = e.pageY;
});
var count=0;
function doClear(){
	count++;
	if(count>=2)
	{
		alert('一次只能修改一项,请把未完成的项保存');
		rightinfo();
	}
}
function edit(uname,uuid,vid,uid,num) {
	doClear();
	unameSide=uname;
	uuidSide=uuid;
	guidSide=uid;
	modify_name=vid;
	var tdnode=document.getElementById(uid).childNodes;
	for(var i=0; i<tdnode.length; i++)
	{
		if(tdnode[i].id==vid)
		right=tdnode[i];	
	}
	var str='<form id="form1" style="margin:0">输入值: <input class="input-mini" name="num" type="text" id="num'+uid+'" value="'+num+'"><br/>当前:'+num+' <input type="button" id="savebtn" value="保存" onclick=save(num)> <input type="button" id="cancelbtn" value="取消" onclick="rightinfo()"></form>';
	right.innerHTML=str;
}
function save(num){
	var url ='admincp.php?mod=modify&act=queue&type=3&username='+unameSide+'&useruid='+uuidSide+'&num='+num.value+'&qid='+guidSide+"&vid="+modify_name;
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
function deleteLine(type,uname,uuid,uid){
	unameSide=uname;
	uuidSide=uuid;
	uisSide=uid;
	if(confirm('是否确定删除'))
	{
		var url ='admincp.php?mod=modify&act=building&type=5&username='+unameSide+'&useruid='+uuidSide+'&itemId='+uisSide;
		xmlHttp=getAjax();
		xmlHttp.onreadystatechange = back;
		xmlHttp.open("GET",url,true);
		xmlHttp.send(null);
	}
}

function getAction(){
	if(xmlHttp.readyState==4 && xmlHttp.status==200){
		if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
			showLogin();
			return;
		}
		rightinfo();
		return;
	}
}
function rightinfo() {
	self.location='admincp.php?mod=modify&act=queue&type=1&username='+unameSide+'&useruid='+uuidSide;	
}
function back(){
	if(xmlHttp.readyState==4 && xmlHttp.status==200){
		self.location='admincp.php?mod=modify&act=queue&type=1&username='+unameSide+'&useruid='+uuidSide;	
	}
}
</script>		
<!--{template footer}-->