<!--{template header}-->
<script language="javascript" src="include/highcharts/highcharts.js"></script>
<style type="text/css">
	.trTitle{
		line-height: 20px;
	    font-family: museo_sans300;
	    border-bottom: 1px solid #e8e8e8;
	    background-color: #39434e;
	    color: #f5f6f8;
	    font-size: 13px;
	}
	.topChannel{
		background-color: #fff;
	    border-radius: 5px;
	    border: 1px solid #00bcee;
	    color: #0090d0;
	    cursor: default;
	    height: 36px;
	}
	th.asc:after {
		content:' \2191'
	}
	th.desc:after {
		content:' \2193'
	}
</style>

<form action="admincp.php?mod=ad&act=history" method="post" name="getaccount">
	<span style="
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    font-size: 16px;
    color: #08a0e1;">起始</span><input class="input-large focused" id="start_time"
									 name="start_time" type="text" style="width: 120px;background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00bcee;
    color: #0090d0;
    cursor: default;
    height: 36px;"
									 placeholder="起始日期" value="{$start}">
	<span style="
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    font-size: 16px;
    color: #08a0e1;">结束</span><input
		class="input-large focused" id="end_time" name="end_time" type="text"
		style="width: 120px;background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00bcee;
    color: #0090d0;
    cursor: default;
    height: 36px;" placeholder="点击选择日期" value="{$end}"> 
		<select id='os' name='os' style="background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00bcee;
    color: #0090d0;
    cursor: default;
    height: 36px;">
		<!--{loop $osList $osKey $osName}-->
		<!--{if ($curOs == $osKey)}-->
		<option value="{$osKey}" selected="selected">{$osName}</option>
		<!--{else}-->
		<option value="{$osKey}">{$osName}</option>
		<!--{/if}-->
		<!--{/loop}-->
	</select> 
	<select id="selectCountry" name="selectCountry" onchange="" style="background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00bcee;
    color: #0090d0;
    cursor: default;
    height: 36px;">
		<!--{loop $countryList $country $countryname}-->
		<!--{if ($currCountry == $country)}-->
		<option value="{$country}" selected="selected">{$countryname}</option>
		<!--{else}-->
		<option value="{$country}">{$countryname}</option>
		<!--{/if}-->
		<!--{/loop}-->
	</select> 
	<!--{if ($curOs=='ALL')}-->
		<select id="topChannel_ALL" name="topChannel_ALL" class="topChannel" onchange="">
			<option value="ALL">一级渠道: ALL</option>
			<!--{loop $osChannel $osK $channels}-->
				<!--{if ($osK!='ALL')}-->
					<!--{loop $channels $channelValue}-->
						<!--{if ($curTopChannel==$channelValue)}-->
							<option value="{$channelValue}" selected="selected">$channelValue</option>
						<!--{else}-->
							<option value="{$channelValue}">$channelValue</option>
						<!--{/if}-->
					<!--{/loop}-->
				<!--{/if}-->
			<!--{/loop}-->
		</select>
		<!--{else}-->
		<select name="topChannel_ALL" class="topChannel" style="display: none;">
			<option value="ALL">一级渠道: ALL</option>
			<!--{loop $osChannel $osK $channels}-->
				<!--{if ($osK!='ALL')}-->
					<!--{loop $channels $channelValue}-->
						<option value="{$channelValue}">$channelValue</option>
					<!--{/loop}-->
				<!--{/if}-->
			<!--{/loop}-->
		</select>
	<!--{/if}-->

	<!--{loop $osChannel $osK $channels}-->
		<!--{if ($osK!='ALL')}-->
			<!--{if ($curOs==$osK)}-->
				<select id="topChannel_{$osK}" name="topChannel_{$osK}"
					class="topChannel" onchange="">
					<option value="ALL">一级渠道: ALL</option>
					<!--{loop $channels $channelValue}-->
						<!--{if ($curTopChannel==$channelValue)}-->
							<option value="{$channelValue}" selected="selected">$channelValue</option>
						<!--{else}-->
							<option value="{$channelValue}">$channelValue</option>
						<!--{/if}-->
					<!--{/loop}-->
				</select>
			<!--{else}-->
				<select id="topChannel_{$osK}" name="topChannel_{$osK}" class="topChannel" style="display: none;" onchange="">
					<option value="ALL">一级渠道: ALL</option>
					<!--{loop $channels $channelValue}-->
						<option value="{$channelValue}">$channelValue</option>
					<!--{/loop}-->
				</select>
			<!--{/if}-->
		<!--{/if}-->
	<!--{/loop}-->
	<span style="
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    font-size: 16px;
    color: #08a0e1;">查看维度</span> <select id="dimension" name="dimension" onchange="" style="background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00bcee;
    color: #0090d0;
    cursor: default;
    height: 36px;">
		<!--{loop $dimensionArray $dimeKey $dimeVal}-->
		<!--{if ($currdimension == $dimeKey)}-->
		<option value="{$dimeKey}" selected="selected">{$dimeVal}</option>
		<!--{else}-->
		<option value="{$dimeKey}">{$dimeVal}</option>
		<!--{/if}-->
		<!--{/loop}-->
	</select> 
	<!--{if $organicFlag}-->
		<input class="" type="checkbox" name="includeOrganic" id="includeOrganic" checked="checked"  /> <label for="includeOrganic"><span style="
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    font-size: 16px;
    color: #08a0e1;">Organic</span></label>
	<!--{else}-->
		<input class="" type="checkbox" name="includeOrganic" id="includeOrganic"   /><label for="includeOrganic"><span style="
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    font-size: 16px;
    color: #08a0e1;">Organic</span></label>
	<!--{/if}-->
	<input style="background-color: #009fdf;color: #fff;border-radius: 5px;padding: 0 15px;height: 40px;border: 1px solid #ccc; cursor: pointer;" type="button" onclick="search()" id="btn_view" name="btn_view" value="查询"> 
    &nbsp;&nbsp;
    <input class="display:none;" type="hidden" value="" id="event" name="event"/>
    <!--<input style="background-color: #009fdf;color: #fff;border-radius: 5px;padding: 0 15px;height: 40px;border: 1px solid #ccc; cursor: pointer;" type="button" onclick="getXlsPage()" id="btn_page" name="btn_view" value="导出"> -->

	<div id="container" style="min-width: 400px; height: 500px; margin: 0 auto;margin-top: 10px;width: 100%"></div>

	<table class='listTable' style='text-align: center;margin: 10px auto;width: 100%;'>
		<thead>
			<tr class="trTitle">
				<!--{loop $titleArray $tKey $tVal}-->
				<th asc="1" style="word-break: keep-all;white-space:nowrap; padding: 10px; text-align: -webkit-center;"  onclick="var a=$(this).attr('asc');sort_table(people, '$titleIndex[$tKey]',a);a*=-1;$('.listTable th').attr('asc','1');$(this).attr('asc',a);if(a==-1){$('.listTable th').removeClass();$(this).addClass('asc');}else{$('.listTable th').removeClass();$(this).addClass('desc');}">$tVal</th>
				<!--{/loop}-->
			</tr>
		</thead>
		<tr onMouseOver="this.style.background='lightskyblue'"
			onMouseOut="this.style.background='initial';">
			<!--{if ($currdimension!=0)}-->
			<!--{loop $titleArray $tKey $tVal}-->
			<!--{if ($tKey=='dt' || $tKey=='channelSecond')}-->
			<td style="word-break: keep-all;white-space:nowrap; text-align: -webkit-left;padding: 10px;">合计</td>
			<!--{else}-->
			<td style="text-align: -webkit-right;padding: 10px;">$total[$tKey]</td>
			<!--{/if}-->
			<!--{/loop}-->
			<!--{/if}-->
		</tr>
		<tbody id='adDataTable'>
			<!--{loop $data $dbData}-->
			<tr onMouseOver="this.style.background='lightskyblue'"
				onMouseOut="this.style.background='initial';">
				<!--{loop $titleArray $tKey $tVal}-->
				<!--{if ($tKey=='dt')}-->
				<!--{if ($param=='country' && $countrysAdd[$dbData[$param]])}-->
				<td style="word-break: keep-all;white-space:nowrap; text-align: -webkit-left;padding: 10px;">$countrysAdd[$dbData[$param]]</td>
				<!--{else}-->
				<td style="word-break: keep-all;white-space:nowrap; text-align: -webkit-left;padding: 10px;">$dbData[$param]</td>
				<!--{/if}-->
				<!--{else}-->
				<td style="word-break: keep-all;white-space:nowrap; text-align: -webkit-right;padding: 10px;">$dbData[$tKey]</td>
				<!--{/if}-->
				<!--{/loop}-->
			</tr>
			<!--{/loop}-->
		</tbody>
	</table>


</form>
<script type="text/javascript">
	var showData = [];
	var chartTitle='渗透率、ARPU趋势图';
</script>

<!--{loop $indexArr  $iKey $dataVal}-->
<script language="javascript">
	showData.push({
		"name":"{$dataVal}",
		"data":$showchart[$iKey],
		"yAxis": $coordinates[$iKey]
	});
</script>
<!--{/loop}-->

<script type="text/javascript">
	$(function () {
		$('#container').highcharts({
			chart: {
				type: 'spline'
			},
			title: {
				text: chartTitle
			},
			xAxis: {
				categories: $xstr
			},
			yAxis: [{
				min: 0,
				title: {
					text: '渗透率、arpu'
				}
			}, {
				title: {
					text: 'arppu'
				},
				opposite: true
			}],
			tooltip: {
//				shared: true,
//				formatter: function () {
//					if(this.series.name=='渗透率'){
//						return '<b>' + this.x + '</b><br/>' +
//								this.series.name + ': ' + this.y + '%<br/>';
//					}else {
//						return '<b>' + this.x + '</b><br/>' +
//								this.series.name + ': $' + this.y + '<br/>';
//					}
//
//				},
				shared: true,
			},
			plotOptions: {
				area: {
					stacking: 'normal',
					lineColor: '#666666',
					lineWidth: 1,
					marker: {
						lineWidth: 1,
						lineColor: '#666666'
					}
				}
			},
			series: showData
		});
	});
</script>

<script type="text/javascript">
       $(document).ready(function(){
           $("#os").change(function(){
        	   		var i=$('#os').prop('selectedIndex');
        	   		$(".topChannel").hide();
                	$(".topChannel").eq(i).show();
           });
           $("#os").change();
       });
</script>

<script type="text/javascript">
function getXlsPage(){
	//alert('admincp.php?mod=ad&act=roi&start_time='+$('#start_time').val()+'&end_time='+$('#end_time').val()+'&os='+$('#os').val()+'&selectCountry='+$('#selectCountry').val()+'&topChannel_'+$('#os').val()+'='+$('#topChannel_'+$('#os').val()).val()+'&dimension='+$('#dimension').val()+'&event=output');
	//window.location.href='admincp.php?mod=ad&act=roi&start_time='+$('#start_time').val()+'&end_time='+$('#end_time').val()+'&os='+$('#os').val()+'&selectCountry='+$('#selectCountry').val()+'&topChannel_'+$('#os').val()+'='+$('#topChannel_'+$('#os').val()).val()+'&dimension='+$('#dimension').val()+'&event=output'; 
	/* document.getElementById('btn_view').disabled=true;
	document.getElementById('btn_page').disabled=true; */
	document.getElementById('event').value = 'output';
	document.getaccount.submit();
}

window.onload = function () {
people = document.getElementById("adDataTable");
}
function sort_table(tbody, col, asc) {
	var rows = tbody.rows,
        rlen = rows.length,
        arr = new Array(),
        i, j, cells, clen;
    // fill the array with values from the table
    for (i = 0; i < rlen; i++) {
        cells = rows[i].cells;
        clen = cells.length;
        arr[i] = new Array();
        for (j = 0; j < clen; j++) {
            arr[i][j] = cells[j].innerHTML;
        }
    }
    // sort the array by the specified column number (col) and order (asc)
    arr.sort(function (a, b) {
        return (a[col] == b[col]) ? 0 : ((Number(a[col].replace(/,|-/g, "")) > Number(b[col].replace(/,|-/g, ""))) ? asc : -1 * asc);
    });
    // replace existing rows with new rows created from the sorted array
    for (i = 0; i < rlen; i++) {
        	rows[i].innerHTML = "<td style='word-break: keep-all;white-space:nowrap; text-align: -webkit-left;padding: 10px;'>" + arr[i].join("</td><td style='text-align: -webkit-right;padding: 10px;'>") + "</td>";
    }
}

init();
function init(){
	$("#start_time,#end_time").datetimepicker();
}
function search(){
	document.getElementById('btn_view').disabled=true;
//	document.getElementById('btn_page').disabled=true;
	document.getElementById('event').value = 'view';
	document.getaccount.submit();
}
</script>

<!--{if ($param=='country' || $param=='channelTop1')}-->
<script type="text/javascript">
sort_table(document.getElementById("adDataTable"), '1',-1);
$('table tr:eq(0) th:not(:eq(1))').attr('asc','1');
$("table tr:eq(0) th:eq(1)").attr('asc',1);
$('.listTable th').removeClass();
$('table tr:eq(0) th:eq(1)').addClass('desc');
</script>
<!--{/if}-->


<!--{template footer}-->