<!--{template header}-->
<div class="alert alert-info"><?php echo "log：";?><font color="red">输入uid查看最新log</font></div>
<span>UID</span>
<span><input type="text" id="uid" name="uid" value='{$uid}'></input></span><br/>
<input class="btn js-btn btn-primary" type="button" onclick="getLogData()" id="btn_view" name="btn_view" value="查看">
<div id='show2' style="float:left;width:105%;height:auto"></div>
<div id='show' style="float:left;width:105%;height:auto"></div>


<script type="text/javascript">
    function getLogData(){
        document.getElementById('btn_view').disabled=true;
        document.getElementById('show').innerHTML = 'loading';
        document.getElementById('show2').innerHTML = '';
        var uid = document.getElementById("uid");
        var url = 'mod=server&act=log&uid='+$('#uid').val();
        xmlHttp=getAjax();
        xmlHttp.onreadystatechange = getAction;
        xmlHttp.open("POST",'admincp.php',true);
        xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        xmlHttp.send(url);
    }
    function getAction(){
        right=document.getElementById('show');
        if(xmlHttp.readyState==4){
            if (xmlHttp.status==200){
                if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
                    showLogin(getLogData);
                    return;
                }
                right.innerHTML=xmlHttp.responseText;
                document.getElementById('btn_view').disabled=false;
                return;
            }
        }
    }

</script>
<!--{template footer}-->
