<!--{template header}-->
<br />
<div style="float: left;margin: 0 0 10px 10px;display: block;">
	<span style="padding-left: 4em; padding-right: 4em; text-weight: bold;">hour</span>
	<img class="noborder" id="graph_img_hour" style="margin-top:5px;" title="Last hour" src="http://169.44.71.72:8088/ganglia/graph.php?r=hour&z=xlarge&c=coq&m=load_one&s=by+name&mc=2&g=cok_user_report">
</div>

<div style="float: left;margin: 0 0 10px 10px;display: block;">
	<span style="padding-left: 4em; padding-right: 4em; text-weight: bold;">&nbsp;day</span>
	<img class="noborder" id="graph_img_day" style="margin-top:5px;" title="Last Day" src="http://169.44.71.72:8088/ganglia/graph.php?r=day&z=xlarge&c=coq&m=load_one&s=by+name&mc=2&g=cok_user_report">
</div>
<!--{template footer}-->