<!--{template header}-->

<div class="alert alert-info">
    <?php echo "后天管理配置文件更新(主要是前台xml+text_zh_CN.ini)";?><br>
    <font color="red">$headAlert</font>
</div>
<span>{$content}拉取前端xml配置到后台管理 </span>
<div><label><font color="red">{$result}</font></label></div>
<form action="admincp.php?mod=server&act=frontxml&subact=svnget" method="post" name="svngetplan">
    <div style="float: left">
        <input class="btn js-btn btn-primary" type="button" value="拉取最新svn配置" name="btn_view" onclick="svnget(1)"/>
        <input  type="text" value="{$num}" placeholder='20' name='shownum' id="shownum"/><br>
        <hr/>
    </div>
    <input class="display:none;" type="hidden" value="" id="type" name="type"/>

    <span>最新变动文件列表(默认20个)</span>

</form>
<!--{if isset($items) }-->
<div style="display: inline">
    <!--<table class="listTable" style="width: 100%; text-align: center">-->
    <table class="listTable">
        <tr class="listTr">
            <th >更新的文件名 </th>
            <th>更新时间(UTC时间)</th>
        </tr>
        <!--{loop $items $dbName}-->
        <tr class="listTr">
            <td align="left"><input type="checkbox" value="{$dbName['name']}" name="xmllist[]"/>$dbName['name']</td>
            <td align="right">$dbName['time']</td>
        </tr>
        <!--{/loop}-->
    </table>
</div>
<!--{/if}-->
<script type="text/javascript">

    function svnget(type) {

        if (type == 1 && confirm('确认拉取最新svn配置')) {
            document.getElementById('type').value = 1;
            if($('#shownum').val() > 100){
                alert('数量不大于 100');
                return;
            }
            document.svngetplan.submit();
        } else if (type == 2 && confirm('更新所有服务器')) {
            document.getElementById('type').value = 2;

            document.svngetplan.submit();
        } else if (type == 3) {
            document.getElementById('type').value = 3;

            var contents = $('#contents').val();
            if (!isEmpty(contents) && confirm(contents)) {
                document.svngetplan.submit();
            }

        }
    }
    function isEmpty(value) {
        if (value == null || value == "") {
            return true;
        } else {
            return false;
        }
    }
</script>
<!--{template footer}-->