<!--{template header}--> 
<script type="text/javascript">
function checkPassword(){
	var pass = $("#password").val();
	var pass_rep = $("#password_rep").val();
	var old_pass = $("#oldpass").val();
	if(pass.length < 6){//old_pass=="" || pass=="" || 
		alert("{$MALANG['login_failed_password_null']}");
		return false;
	}
	document.getElementById('action').value = "edit";
	if(pass != pass_rep){
		alert("{$MALANG['password_cpassword_not_match']}");
		return false;
	}
	//$("#changepass").submit();
	return true;
}
function changeSuccess(){
	document.getElementById('action').value = "continue";
	return true;
}
</script>

<form class="well form-horizontal" id="changepass" name="changepass" action="admincp.php?mod=admin&act=editpassword" method="post">
<!-- {if $newPass} -->
<input class="display:none;" type="hidden" value="$newPass" id="newPass" name="newPass"/>	
<button type="submit" class="btn btn-info" onclick="return changeSuccess()">{$MALANG['btn_continue']}</button>
<!-- {else} -->
<fieldset><legend>修改密码</legend> 	
   <div class="control-group">
      <label class="control-label"  for="username">{$MALANG['admin_list_username']}</label>
      <div class="controls">
      <input type="text" class="input-xxlarge" id="username" name="username" value="{$username}" readonly></input>
      </div>
    </div>  
   <div class="control-group">
      <label class="control-label" for="oldpass">{$MALANG['password_oPassword']}</label>
      <div class="controls">
       <input type="password" class="input-xxlarge" id="oldpass" name="oldpass"></input>
      </div>
    </div>  
    <div class="control-group">
      <label class="control-label" for="password">{$MALANG['password_nPassword']}</label>
      <div class="controls">
       <input type="password" class="input-xxlarge" id="password" name="password"></input>&nbsp;&nbsp;
       新密码长度须在6到32位之间，且必须包含大小写字母、数字以及至少包含!,@,#,$,%,&,*中的一个
      </div>
    </div>  
    <div class="control-group">
      <label class="control-label" for="password_rep">{$MALANG['password_cPassword']}</label>
      <div class="controls">
       <input type="password" class="input-xxlarge" id="password_rep" name="password_rep"></input>
      </div>
    </div>       
    <div class="form-actions">
    <button type="submit" class="btn btn-info" onclick="return checkPassword()">{$MALANG['btn_submit']}</button>
    <button type="reset" class="btn">{$MALANG['btn_cancel']}</button>
    </div>
</fieldset>
<!-- {/if} -->
<input class="display:none;" type="hidden" value="edit" id="action" name="action"/>	
</form>
<!--{template footer}-->