<!--{template header}-->
<script language="javascript" src="include/highcharts/highcharts.js"></script>
<div class="alert alert-info"><?php echo "促销面板统计";?><font color="red" id="showtips">&nbsp;&nbsp;&nbsp;&nbsp;$alertHead</font></div>

<input type="radio" id="staPackage" name="typePackage" value="statistic" onclick="changeType()" checked /> 礼包统计
<input type="radio" id="addPackage" name="typePackage" value="add" onclick="changeType()" /> 添加礼包

<div id="packageStatistics">
	<form action="admincp.php?mod=pay&act=exchange" method="post" name="getaccount">
	$serverDiv
	礼包号<input type="text" id="productIds" name="productIds" value="" placeholder="逗号分隔。如：90006,90043" style="width: 400px;"/>
	<br>
	起始时间<input class="input-large focused" id="start_time" name="start_time" type="text" placeholder="点击选择日期" value="$dateMin">
	结束时间<input class="input-large focused" id="end_time" name="end_time" type="text" placeholder="点击选择日期" value="$dateMax">
	<!--{if ($_COOKIE['u']=='xiaomi')}-->

	<!--{else}-->
	国家
	<select id="selectCountry" name="selectCountry" onchange="">
			<!--{loop $countryList $country $countryname}-->
			<!--{if ($currCountry == $country)}-->
				<option value="{$country}" selected="selected">{$countryname}</option>
			<!-- {else} -->
				<option value="{$country}">{$countryname}</option>
			<!-- {/if} -->
			<!--{/loop}-->
	</select>
	<!--{/if}-->
	平台
	<select id="selectPf" name="selectPf" onchange="">
			<!--{loop $pfList $pf $pfname}-->
			<!--{if ($currPf == $pf)}-->
				<option value="{$pf}" selected="selected">{$pfname}</option>
			<!-- {else} -->
				<option value="{$pf}">{$pfname}</option>
			<!-- {/if} -->
			<!--{/loop}-->
	</select>
	<input class="display:none;" type="hidden" value="" id="event" name="event"/>
	<input class="btn js-btn btn-primary" type="button" onclick="search()" name="btn_view"  id="btn_submit" value="统计数据">
	<hr />
	<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto;"></div>
	<br>
	<!--{if ($showData)}-->
		<table class="listTable" cellspacing=1 padding=0 style="width: 100%; text-align: center">
			<thead>
			<tr>
				<th>礼包ID</th>
				<th>礼包名称</th>
				<th>游戏内名称</th>
				<th colspan="5">合计</th>
				<!--{loop $dateArray $dval}-->
					<th colspan="5">$dval</th>
				<!--{/loop}-->
			</tr>
			<tr>
				<th>-</th>
				<th>-</th>
				<th>-</th>
				<!--{loop $titleArray $tKey $tVal}-->
				<th bgcolor="aqua" asc="1" style="word-break: keep-all;white-space:nowrap; padding: 10px; text-align: -webkit-center;"  onclick="var a=$(this).attr('asc');sort_table(1, $(this).index(),a);a*=-1;$('.listTable th').attr('asc','1');$(this).attr('asc',a);if(a==-1){$('.listTable th').removeClass();$(this).addClass('asc');}else{$('.listTable th').removeClass();$(this).addClass('desc');}" ><u>$tVal</u></th>
				<!--{/loop}-->
				<!--{loop $dateArray $dval}-->
					<!--{loop $titleArray $tKey $tVal}-->
						<th bgcolor="aqua" asc="1" style="word-break: keep-all;white-space:nowrap; padding: 10px; text-align: -webkit-center;"  onclick="var a=$(this).attr('asc');sort_table(1, $(this).index(),a);a*=-1;$('.listTable th').attr('asc','1');$(this).attr('asc',a);if(a==-1){$('.listTable th').removeClass();$(this).addClass('asc');}else{$('.listTable th').removeClass();$(this).addClass('desc');}"><u>$tVal</u></th>
					<!--{/loop}-->
				<!--{/loop}-->
			</tr>
			</thead>
			<tr>
				<td></td>
				<td></td>
				<td>总和</td>
				
				<td>$allData['num']</td>
				<td></td>
				<td></td>
				<td>$allData['paySum']</td>
				<td></td>
				<!--{loop $dateArray $dval}-->
					<!--{loop $titleArray $tKey $tVal}-->
						<td>$dateData[$dval][$tKey]</td>
					<!--{/loop}-->
				<!--{/loop}-->
			</tr>
			<tbody id='adDataTable'>
			<!--{loop $data $proId $dateV}-->
				<tr>
					<td ><a href="javascript:void(edit('{$proId}'))">$proId</a></td>
					<td>$nameArray[$proId]['packageName']</td>
					<td>$nameArray[$proId]['gameName']</td>
					<!--{loop $titleArray $tKey $tVal}-->
						
							<!--{if ($tKey == 'num')}-->
								<td><a href="javascript:void(findNum('{$proId}','1'))">$data[$proId]['total'][$tKey]</a></td>
							<!--{else}-->
								<td>$data[$proId]['total'][$tKey]</td>
							<!--{/if}-->
					<!--{/loop}-->
					<!--{loop $dateArray $dval}-->
						<!--{loop $titleArray $tKey $tVal}-->
							
							<!--{if ($tKey == 'num')}-->
								<td><a href="javascript:void(findNum('{$proId}','{$dval}'))">$data[$proId][$dval][$tKey]</a></td>
							<!--{else}-->
								<td>$data[$proId][$dval][$tKey]</td>
							<!--{/if}-->
							
						<!--{/loop}-->
				<!--{/loop}-->
				</tr>
			<!--{/loop}-->
			</tbody>
		</table>
	<!--{/if}-->
	</form>
</div>

<div id="packageAdd" style="display:none;">
	<span>添加(95009,大R粮食试水包2,99.99|95011,粮食试水包4,9.99...)</span>&nbsp;&nbsp;&nbsp;&nbsp;
	<br>
	<textarea id="contents" name="contents" rows="6" cols="80"></textarea>
	<input class="btn js-btn btn-primary" type="button" value="添加" name="btn_add" onclick="addPack('add')" />
	&nbsp;&nbsp;&nbsp;&nbsp;
	<!--<input class="btn js-btn btn-primary" type="button" value="游戏内礼包名称" name="btn_add" onclick="addPack('gameName')" />-->
</div>

<div id='display' style="display:none;position:fixed;z-index:1; right:350px; top:100px; height:400px; width:300px; background-color:#708090; color:#FFF; line-height:30px;">
	<a href="#" onclick="javascript:turnoff()" style="color: aquamarine">点击关闭</a>&nbsp;&nbsp;
	<div id='displayinner' style="height:95%;width:100%;overflow: scroll;left: 20px"></div>
</div>


<div id='serverdisplay' style="display:none;position:fixed;z-index:1; right:80px; top:100px; height:400px; width:1100px; background-color:#708090; color:#FFF; line-height:30px;">
	<a href="#" onclick="javascript:serverturnoff()" style="color: aquamarine">点击关闭</a>&nbsp;&nbsp;
	<div id='serverdisplayinner' style="height:95%;width:100%;overflow: scroll;left: 20px"></div>
</div>

<script type="text/javascript">
	var showData = [];
	var chartTitle='';
</script>

	<script language="javascript">
		chartTitle="每日礼包变化曲线";
	</script>
	<!--{loop $indexArr  $iKey $dataVal}-->
		<script language="javascript">
			showData.push({
							"name":"{$dataVal}",
							"data":$showChart[$iKey]['data'],
							"visible":$showChart[$iKey]['dis']
						});
		</script>
	<!--{/loop}-->
	
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: chartTitle
        },
        xAxis: {
            categories: $dateStr,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            },
            labels: {
                rotation: -45
            }
        },
        yAxis: {
            title: {
                text: '个数'
            }
        },
        tooltip: {
            shared: true
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: showData
    });
});
</script>

<script type="text/javascript">

function changeType(){
	if(document.getElementById('staPackage').checked)
	{
		$('#packageStatistics').show();
		$('#packageAdd').hide();
	}
	if(document.getElementById('addPackage').checked)
	{
		$('#packageStatistics').hide();
		$('#packageAdd').show();
	}
}

function addPack(type){
	var objs=document.getElementsByName('btn_add');
	for(i=0;i<objs.length;i++){
		objs[i].disabled=true;
	}
	var url = 'admincp.php?mod=pay&act=exchange&event='+type+'&contents='+$('#contents').val();
	$.get(url,function(data){
			alert(data);
			var objs=document.getElementsByName('btn_add');
			for(i=0;i<objs.length;i++){
				objs[i].disabled=false;
			}
	});
}

init();
function init(){
	$("#start_time").datetimepicker();
    $("#end_time").datetimepicker();
}

function findNum(productId,date){
	var div = document.getElementById('serverdisplay'); 
	div.style.display="block"; 
	div.style.position="fixed"; 
	$("#serverdisplayinner").html('loading data');
	if(date==1){
		var url = 'admincp.php?mod=pay&act=exchange&event=viewServerNum&productId='+productId+'&dateStart='+$("#start_time").val()+'&dateEnd='+$("#end_time").val();
	}else{
		var url = 'admincp.php?mod=pay&act=exchange&event=viewServerNum&productId='+productId+'&date='+date;
	}
	$.get(url,function(data){
			$("#serverdisplayinner").html(data);
	},'html');
}

function edit(productId){
	var url = 'admincp.php?mod=pay&act=exchange&event=viewProduct&productId='+productId;
	$.get(url,function(data){
			var div = document.getElementById('display'); 
			div.style.display="block"; 
			div.style.position="fixed"; 
			$("#displayinner").html(data);
	},'html');
}
function turnoff(){
	document.getElementById('display').style.display="none";
}
function serverturnoff(){
	document.getElementById('serverdisplay').style.display="none";
}

function search(){
	document.getElementById('btn_submit').disabled=true;
	document.getElementById('event').value = 'view';
	document.getaccount.submit();
}
function sort_table(tbody, col, asc) {
	var tbody = document.getElementById('adDataTable');
	var rows = tbody.rows,
			rlen = rows.length,
			arr = new Array(),
			i, j, cells, clen;
	// fill the array with values from the table

		for (i = 0; i < rlen; i++) {
			cells = rows[i].cells;
			clen = cells.length;
			arr[i] = new Array();
			for (j = 0; j < clen; j++) {
				arr[i][j] = cells[j].innerHTML;
			}
		}

	// sort the array by the specified column number (col) and order (asc)
	arr.sort(function (a, b) {
//		return (a[col] == b[col]) ? 0 : ((Number(a[col].replace(/,|-/g, "")) > Number(b[col].replace(/,|-/g, ""))) ? asc : -1 * asc);
		return (a[col] == b[col]) ? 0 : ((Number(a[col]) > Number(b[col])) ? asc : -1 * asc);

	});
	// replace existing rows with new rows created from the sorted array

		for (i = 0; i < rlen; i++) {
//			rows[i].innerHTML = "<td style='word-break: keep-all;white-space:nowrap; text-align: -webkit-left;padding: 10px;'>"+arr[i].join("</td><td style='text-align: -webkit-right;padding: 10px;'>") + "</td>";
			rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";

		}

}
</script>
<!--{template footer}-->