<!--{template header}-->
<div class="alert alert-info"><?php echo "金币消耗统计";?></div>
起始时间<input class="input-large focused" id="start_time" name="start_time" type="text" placeholder="点击选择日期" value="{$start}">
结束时间<input class="input-large focused" id="end_time" name="end_time" type="text" placeholder="点击选择日期" value="{$end}">
<input class="btn js-btn btn-primary" type="button" onclick="getLogData()" id="btn_view" name="btn_view" value="统计数据">
<br />
消费类型
<select id="selectEvent" onchange="">
		$eventOptions
</select>
用户UID
<input id="user" name='user' type="text" value='{$user}' size="50"/>
<input class="" type="checkbox" name="payuser" id="payuser"  checked />只看付费用户数据
<input class="" type="checkbox" name="removegm" id="removegm"   />去掉赠送金币
<br />
排序方式--默认按照消费数量倒序
<select id="orderType" name="orderType">
		<option value="result" checked>消费数量</option>
		<option value="times">消费次数</option>
		<option value="user">消费人数</option>
</select>
<!--<input type='checkbox' id="userCount" name="userCount" />查询消费人数
<input type='checkbox' id="payCount" name="payCount" />查询消费次数
-->
<div id='show' style="float:left;width:105%;height:auto"></div>
<div id='showMember' style="width:100%;float:left;"></div>
<div id='dis' style="float:left;display:none;z-index:99999;position:absolute;left:50px; top:70px; border-radius:20px;background-color:#708090;width:1024px;height:700px"><h2 align="center">正在加载数据，请稍后...</h2></div>

<script type="text/javascript">
function getInfo(type){
	url = 'admincp.php?mod=pay&act=goldlog_analyze&getTypeInfo=true&logtype='+type+
			'&start='+$('#start_time').val()+'&end='+$('#end_time').val();
	if(document.getElementById('payuser').checked)
		url += '&payuser=true';
	if(document.getElementById('removegm').checked)
		url += '&removegm=true';
	url += '&orderType='+$('#orderType').val();
	$.get(url,function(date){
		var offset = $("#showMember").offset();
		$("#showMember").html(date);
		$(document).scrollTop(offset.top);
	});
}
function getLogData(){
	//document.getElementById('dis').style.display = 'block';
	document.getElementById('btn_view').disabled=true;
	$("#show").html("<h3 style='color:red;'>Loading.......</h3>");
	selectEvent = document.getElementById("selectEvent");
	url = 'admincp.php?mod=pay&act=goldlog_analyze&analyze=platform&start='+$('#start_time').val()+'&user='+$('#user').val()+'&end='+$('#end_time').val()+'&event='+selectEvent.options[selectEvent.selectedIndex].id;
	if(document.getElementById('payuser').checked)
		url += '&payuser=true';
	if(document.getElementById('removegm').checked)
		url += '&removegm=true';
	url += '&orderType='+$('#orderType').val();
	// if($("#userCount").attr("checked"))
	// 	url += '&getUserCount=true';
	// if($("#payCount").attr("checked"))
	// 	url += '&getPayCount=true';
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
init();
function init(){
	$("#start_time").datetimepicker();
    $("#end_time").datetimepicker();
    var url= window.location.href;
    if(url.indexOf('doShow') > 0){
    	getLogData();
    }
}
function getAction(){
	right=document.getElementById('show');
	if(xmlHttp.readyState==4){
		if (xmlHttp.status==200){
			if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
				showLogin(getLogData);
				return;
			}
			right.innerHTML=xmlHttp.responseText;
			//document.getElementById('dis').style.display = 'none';
			document.getElementById('btn_view').disabled=false;			
			return;
		}
	}
}
function getUserInfo(type,date){
	if(!$.trim(type + date)){
		alert("参数错误！");
		return;
	}
	url = 'admincp.php?mod=pay&act=goldlog_analyze&getUserInfo=true&logtype='+type+'&logdate='+date;
	if(document.getElementById('payuser').checked)
		url += '&payuser=true';
	if(document.getElementById('removegm').checked)
		url += '&removegm=true';
	$.get(url,function(date){
		var offset = $("#showMember").offset();
		$("#showMember").html(date);
		$(document).scrollTop(offset.top);
	});
}
</script>
<!--{template footer}-->