<!--{template header}-->
<div class="alert alert-info"><?php echo "金币消耗统计(类型12是购买道具,道具有各种类型都展示了) 已去掉GM 包含新商城 (单独新商城看: 新商城卖出统计)";?></div>
$serverDiv
起始时间<input class="input-large focused" id="start_time" name="start_time" type="text" placeholder="点击选择日期"
           value="{$start}">
结束时间<input class="input-large focused" id="end_time" name="end_time" type="text" placeholder="点击选择日期" value="{$end}">
<input class="btn js-btn btn-primary" type="button" onclick="getLogData()" id="btn_view" name="btn_view" value="统计数据">
<br/>
消费类型
<select id="selectEvent" onchange="">
    $eventOptions
</select>
道具id
<input id="user" name='user' type="text" value='{$user}' size="50"/>
<input class="" type="checkbox" name="payuser" id="payuser" checked/>只看付费用户数据
<br/>

<!--排序方式&#45;&#45;默认按照消费数量倒序<select id="orderType" name="orderType">-->
    <!--<option value="result" checked>消费数量</option>-->
    <!--<option value="times">消费次数</option>-->
    <!--<option value="user">消费人数</option>-->
<!--</select>-->
<!--<input type='checkbox' id="userCount" name="userCount" />查询消费人数
<input type='checkbox' id="payCount" name="payCount" />查询消费次数
-->
<div id='show' style="float:left;width:105%;height:auto"></div>
<div id='showMember' style="width:100%;float:left;"></div>
<div id='dis'
     style="float:left;display:none;z-index:99999;position:absolute;left:50px; top:70px; border-radius:20px;background-color:#708090;width:1024px;height:700px">
    <h2 align="center">正在加载数据，请稍后...</h2></div>

<script type="text/javascript">

    function getLogData() {
        document.getElementById('btn_view').disabled = true;
        $("#show").html("<h3 style='color:red;'>Loading.......</h3>");
        selectEvent = document.getElementById("selectEvent");
        url = 'admincp.php?mod=pay&act=goldlog_analyze2&analyze=platform&start=' + $('#start_time').val()+ '&selectServer='+$('#selectServer').val()+ '&user=' + $('#user').val() + '&end=' + $('#end_time').val() + '&event=' + selectEvent.options[selectEvent.selectedIndex].id;
        if (document.getElementById('payuser').checked)
            url += '&payuser=true';
        url += '&orderType=' + $('#orderType').val();
        // if($("#userCount").attr("checked"))
        // 	url += '&getUserCount=true';
        // if($("#payCount").attr("checked"))
        // 	url += '&getPayCount=true';
        xmlHttp = getAjax();
        xmlHttp.onreadystatechange = getAction;
        xmlHttp.open("GET", url, true);
        xmlHttp.send(null);
    }
    init();
    function init() {
        $("#start_time").datetimepicker();
        $("#end_time").datetimepicker();
        var url = window.location.href;
        if (url.indexOf('doShow') > 0) {
            getLogData();
        }
    }
    function getAction() {
        right = document.getElementById('show');
        if (xmlHttp.readyState == 4) {
            if (xmlHttp.status == 200) {
                if (xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH; ?>){
                    showLogin(getLogData);
                    return;
                }
                right.innerHTML=xmlHttp.responseText;
			    document.getElementById('btn_view').disabled=false;
			    return;
		    }
	    }
    }

    function sort_table(tbody, col, asc) {
        var tbody = document.getElementById('adDataTable');
        var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
        // fill the array with values from the table

        for (i = 0; i < rlen; i++) {
            cells = rows[i].cells;
            clen = cells.length;
            arr[i] = new Array();
            for (j = 0; j < clen; j++) {
                arr[i][j] = cells[j].innerHTML;
            }
        }

        // sort the array by the specified column number (col) and order (asc)
        arr.sort(function (a, b) {
//		return (a[col] == b[col]) ? 0 : ((Number(a[col].replace(/,|-/g, "")) > Number(b[col].replace(/,|-/g, ""))) ? asc : -1 * asc);
            return (a[col] == b[col]) ? 0 : ((Number(a[col]) > Number(b[col])) ? asc : -1 * asc);

        });
        // replace existing rows with new rows created from the sorted array

        for (i = 0; i < rlen; i++) {
//			rows[i].innerHTML = "<td style='word-break: keep-all;white-space:nowrap; text-align: -webkit-left;padding: 10px;'>"+arr[i].join("</td><td style='text-align: -webkit-right;padding: 10px;'>") + "</td>";
            rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";

        }

    }
</script>
<!--{template footer}-->