<!--{template header}-->
<form action="admincp.php?mod=pay&act=payremain" method="post" name="getaccount">
<div class="alert alert-info"><?php echo "支付留存";?><font color="red"></font></div>

$serverDiv

<div class="row-fluid">
<div class="span11">
注册日期
<input id="start" name='start' type="text" value='{$start}' class="input-medium" onchange="changeDate()" />
<input id="end" name='end' type="text" value='{$end}' class="input-medium" onchange="changeDate()" />
国家
<select id="selectCountry" name="selectCountry" onchange="">
		<!--{loop $countryList $country $countryname}-->
		<!--{if ($currCountry == $country)}-->
			<option value="{$country}" selected="selected">{$countryname}</option>
		<!-- {else} -->
			<option value="{$country}">{$countryname}</option>
		<!-- {/if} -->
		<!--{/loop}-->
</select>
平台
<select id="selectPf" name="selectPf" onchange="">
		<!--{loop $pfList $pf $pfname}-->
		<!--{if ($currPf == $pf)}-->
			<option value="{$pf}" selected="selected">{$pfname}</option>
		<!-- {else} -->
			<option value="{$pf}">{$pfname}</option>
		<!-- {/if} -->
		<!--{/loop}-->
</select>
渠道
<select id="selectReferrer" name="selectReferrer" onchange="">
		<!--{loop $referrerList $referrer $referrername}-->
		<!--{if ($currReferrer == $referrer)}-->
		<option value="{$referrer}" selected="selected">{$referrername}</option>
		<!-- {else} -->
		<option value="{$referrer}">{$referrername}</option>
		<!-- {/if} -->
		<!--{/loop}-->
</select>

<!--{if $allServerFlag}-->
<input class="" type="checkbox" name="allServers" id="allServers" checked="checked"  />只显示合计
<!--{else}-->
<input class="" type="checkbox" name="allServers" id="allServers"   />只显示合计
<!--{/if}-->
<input class="btn js-btn btn-primary" type="button" value="查询" id="btn_view" name="btn_view" onclick="search()" />
<input class="btn js-btn btn-primary" type="button" onclick="getXlsData()" id="btn_out" name="btn_out" value="导出EXCEL">
<input class="display:none;" type="hidden" value="" id="event" name="event"/>
<br />
<input id="reconnect" name='reconnect' type="hidden" value='{$reconnect}' class="input-large" placeholder="" />
<!--请输入再登陆天数
<span class="help-inline">默认为1,3,7,30，支持x,y,z和x-y格式的查询，填写x~y可查询区间的总数</span>
-->
</div>
</div>
<!-- {if $registerUser} -->
	<table class="listTable" cellspacing=1 padding=0 style="width: 100%; text-align: center">
	<tr class="listTr">
		<th width=2%>日期</th>
		<th width=2%>服</th>
		<th width=2%>新注册数</th>
		<th width=2%>DAU</th>
		<th width=2%>累计付费人数</th>
		<th width=2%>付费dau</th>
		<th width=2%>付费dau(迁服)</th>
		<th width=2%>付费金额(迁服,非新注册)</th>
		<th width=2%>付费留存</th>
		<th width=2%>当日付费人数</th>
		<th width=2%>当日付费次数</th>
		<th width=2%>当日付费金额</th>
		<th width=2%>新增付费用户</th>
		<th width=2%>新增付费金额</th>
		<!--{for $i=0;$i<count($dayArr);$i++}-->
		<th width=2%>第$dayArr[$i]天登陆</th>
		<th width=2%>留存(%)</th>
		<!--{/for}-->
	</tr>
	<!--{loop $registerUser  $regDate $temp}-->
		<!-- {if $allServerFlag} -->
			<tr class="listTr" onMouseOver="this.style.background='#ffff99'"
			onMouseOut="this.style.background='#fff';"style="font-weight: bold; color: rgb(119, 125, 237);">
			<td width="2%">$regDate</td>
			<td width="2%">合计</td>
			<td width="2%">$temp['allSum']</td>
			<td width="2%">$dauAll[$regDate]['allSum']</td>
			<td width="2%">$payTotalUsers[$regDate]['allSum']</td>
			<td width="2%">$paydauAll[$regDate]['allSum']</td>
			<td width="2%">$paydauAll_relocation[$regDate]['allSum']</td>
			<td width="2%">$paytotal_re[$regDate]['allSum']</td>
			<td width="2%">$remainPayData[$regDate]['allSum']</td>
			<td width="2%">$payusers[$regDate]['allSum']</td>
			<td width="2%">$paytimes[$regDate]['allSum']</td>
			<td width="2%">$paytotal[$regDate]['allSum']</td>
			<td width="2%">$payUser[$regDate]['allSum']</td>
			<td width="2%">$newPayUsers[$regDate]['allSum']</td>

			<!--{loop $dayArr  $key $day}-->
				<!-- {if $remainData['allSum'][$regDate][$day]['count'] > 0} -->
				<td width="2%">$remainData['allSum'][$regDate][$day]['count']</td>
				<td width="2%">$remainData['allSum'][$regDate][$day]['rate']</td>
				<!-- {else} -->
				<td width="2%">-</td>
				<td width="2%">-</td>
				<!-- {/if} -->
			<!--{/loop}-->

			</tr>
		<!-- {else} -->
			<!--{loop $temp  $server $serverReg}-->
			<tr class="listTr" onMouseOver="this.style.background='#ffff99'"
				onMouseOut="this.style.background='#fff';" <!--{if ($server=='allSum')}-->style="font-weight: bold; color: rgb(119, 125, 237);"<!--{/if}-->>
				<td width="2%">$regDate</td>
				<!-- {if ($server=='allSum')} -->
				<td width="2%">合计</td>
				<!-- {else} -->
				<td width="2%">$server</td>
				<!-- {/if} -->
				<td width="2%">$serverReg</td>
				<td width="2%">$dauAll[$regDate][$server]</td>
				<td width="2%">$payTotalUsers[$regDate][$server]</td>
				<td width="2%">$paydauAll[$regDate][$server]</td>
				<td width="2%">$paydauAll_relocation[$regDate][$server]</td>
				<td width="2%">$paytotal_re[$regDate][$server]</td>
				<td width="2%">$remainPayData[$regDate][$server]</td>
				<td width="2%">$payusers[$regDate][$server]</td>
				<td width="2%">$paytimes[$regDate][$server]</td>
				<td width="2%">$paytotal[$regDate][$server]</td>
				<td width="2%">$payUser[$regDate][$server]</td>
				<td width="2%">$newPayUsers[$regDate][$server]</td>
				<!--{loop $dayArr  $key $day}-->
					<!-- {if $remainData[$server][$regDate][$day]['count'] > 0} -->
					<td width="2%">$remainData[$server][$regDate][$day]['count']</td>
					<td width="2%">$remainData[$server][$regDate][$day]['rate']</td>
					<!-- {else} -->
					<td width="2%">-</td>
					<td width="2%">-</td>
					<!-- {/if} -->
				<!--{/loop}-->

			</tr>
			<!--{/loop}-->
		<!-- {/if} -->
	<!--{/loop}-->
	</table>
<!-- {/if} -->
</form>


<script type="text/javascript">
$("#start,#end").datetimepicker();
function changeDate(){
	$("#reconnect").val(''); 
}
function serverall(){
	var currentObj = document.getElementById('all_server');
	var objs=document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		var objId = objs[i].id.split('_');
		if(objId[0]=='server'){
			objs[i].checked = currentObj.checked;
		}
	}	
}

function checkserverall(){
	document.getElementById('all_server').checked = true;
	var objs=document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		var objId = objs[i].id.split('_');
		if(!objs[i].checked&&objId[0]=='server')
		{
			document.getElementById('all_server').checked = false;
			break;
		}
	}
}
function search(){
	document.getElementById('event').value = 'search';
	document.getElementById('btn_view').disabled=true;
	document.getaccount.submit();
}

function getXlsData(){
	
	document.getElementById('event').value = 'output';
	document.getaccount.submit();
}

var count=0;
function doClear(){
	count++;
	if(count>=2)
	{
		alert('一次只能修改一项,请把未完成的项保存');
		rightinfo();
	}
}

function rightinfo() {
	self.location='admincp.php?mod=pay&act=payremain&start='+$('#start').val()+'&end='+$('#end').val();
}

function save(num){
	var url ='admincp.php?mod=pay&act=payremain&datekey='+datekey+'&num='+num.value+'&end='+$('#end').val();
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function getAction(){
	if(xmlHttp.readyState==4 && xmlHttp.status==200){
		if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
			showLogin();
			return;
		}
		rightinfo();
		return;
	}
}
</script>
<!--{template footer}-->