<!--{template header}-->
<div class="alert alert-info"><?php echo "查看特定激活码的使用数量";?><font color="red">$alertHeader</font></div>
<form action="admincp.php?mod=user&act=activationUsedTimes" method="post" name="getaccount">
<div class="row-fluid">
<div class="span11">
	<!-- 服编号<input type="text" id="selectServer" name="selectServer" value="" style="width: 400px;"/>(逗号横杠分隔。如：1,3,8-22)
	<br> 
	-->
	<input class="display:none;" type="hidden" value="" id="action" name="action"/>
	激活码:<input  type="text" value="{$activationKey}" id="activationKey" name="activationKey"/>
	<input class="btn js-btn btn-primary" type="button" value="查询" id="btn_view" name="btn_view" onclick="search('view')" />
</div>
</div>
<!--{if $showData}-->
<table class="table table-striped" style="TABLE-LAYOUT:fixed;WORD-WRAP:break-word;word-break:break-all;width:auto;">
<tbody>
	<tr>
	<th align="center"  width="4%">服</th>
	<th align="center"  width="6%">激活码使用人数</th>
	<tr>
		<td>合计</td>
		<td>$totalNum</td>
	</tr>
	</tbody>
</table>
<!--{/if}-->

</form>

<script type="text/javascript">
function isEmpty(value){
	if(value == null || value ==""){
       return true;
	}else{
       return false;
	}
}
function isCommit(){
	var activationKey = $('#activationKey').val();
	activationKey = jQuery.trim(activationKey);
	if(isEmpty(activationKey)){
		alert("<?php echo "请输入激活码";?>");
		$("#activationKey").focus();
		return false;
	}
	return true;
}

function search(type){
	if(isCommit()){
		document.getElementById('btn_view').disabled = true;
		document.getElementById('action').value = type;
		document.getaccount.submit();
	}
}

</script>
<!--{template footer}-->