<!--{template header}-->
<div class="alert alert-info"><?php echo $headLine;?><font color="red"><?php echo $headAlert;?></font></div>
<form action="admincp.php?mod=user&act=queryIp" method="post" name="getaccount">
<div class="row-fluid">
<div class="span11">
起始时间<input class="input-medium focused" id="startDate" name="startDate" type="text" placeholder="点击选择日期" value="{$startDate}">
结束时间<input class="input-medium focused" id="endDate" name="endDate" type="text" placeholder="点击选择日期" value="{$endDate}">
<br>
<span>用户名</span>
<span><input type="text" id="username" name="username" value='{$username}'></input></span>
<span>UID</span>
<span><input type="text" id="useruid" name="useruid" value='{$useruid}'></input></span>
<input class="display:none;" type="hidden" value="" id="action" name="action"/>	
<input class="btn js-btn btn-primary" type="button" value="{$MALANG['btn_view']}" name="btn_view" onclick="check_submit('view')" />
</div>
</div><br/>
<!--{if $showData}-->
<table class="table table-striped" style="TABLE-LAYOUT:fixed;WORD-WRAP:break-word;word-break:break-all;width:auto;">
<tbody>
	<tr>
	<th align="center"  width="10%">uid</th>
	<th align="center"  width="5%">用户名</th>
	<th align="center"  width="2%">登录的IP及相应的次数</th>
	</tr>
	<tr>
		<td>$targetUid</td>
		<td>$targetName</td>
		<td>
			<!--{loop $targetIpCount $ipKey $ipTimes}-->
				$ipKey&nbsp;&nbsp;:&nbsp;&nbsp;<strong>$ipTimes</strong><br>
			<!--{/loop}-->
		</td>
	</tr>
	</tbody>
</table>

玩家登录详细信息
<table class="table table-striped" style="TABLE-LAYOUT:fixed;WORD-WRAP:break-word;word-break:break-all;width:auto;">
<tbody>
	<tr>
	<th align="center"  width="2%">编号</th>
	<th align="center"  width="10%">uid</th>
	<th align="center"  width="5%">用户名</th>
	<th align="center"  width="6%">登录时间</th>
	<th align="center"  width="10%">登录IP</th>
	</tr>
	<!--{loop $data $num $dbData}-->
	<tr>
		<td>$num</td>
		<td>$dbData['uid']</td>
		<td>$dbData['name']</td>
		<td>$dbData['time']</td>
		<td>$dbData['ip']</td>
	</tr>
	<!--{/loop}-->
	</tbody>
</table>
<!--{/if}-->
</form>
<script type="text/javascript">
init();
function init(){
	$("#startDate,#endDate").datetimepicker();
}
function isEmpty(value){
	if(value == null || value ==""){
       return true;
	}else{
       return false;
	}
}
function isCommit(){
	var inputName = $('#username').val();
	var inputUid = $('#useruid').val();
	inputName = jQuery.trim(inputName);
	inputUid = jQuery.trim(inputUid);
	if(isEmpty(inputName)&&isEmpty(inputUid)){
		alert("<?php echo $MALANG['uid_noinput'];?>");
		$("#username").focus();
		return false;
	}
	return true;
}
function check_submit(type) {
	if(type=='view')
	{
		if(isCommit()){
		  document.getElementById('action').value = type;
		  document.getaccount.submit();
		}
	}
}

</script>
<!--{template footer}-->