<!--{template header}-->
<div class="alert alert-info"><?php echo "世界战斗统计";?><font color="red"></font></div>
<div id="tip" style="width:auto;height:auto;padding: 10px;border:1px solid #cccccc;background-color:#ffffdd;position:absolute;visibility:hidden"></div>
战斗类型 : <select name="battleType" id="battleType">
$options
</select>
起始日期<input class="input focused" id="start_time" name="start_time" type="text" placeholder="点击选择日期" value="{$start}">
结束时间<input class="input focused" id="end_time" name="end_time" type="text" placeholder="点击选择日期" value="{$end}">
<br />
联盟名称(多个名称'英文,'隔开) : <input class="input" id="allName" name='allName' type="text" value=''  /> 
玩家Uid(多个uid'英文 ,'隔开) : <input class="input" id="useruid" name='"useruid"' type="text" value=''  />
查看类型 : <select name="type" id="type">
$options2
</select>
<input class="btn js-btn btn-primary" type="button" onclick="getData(1)" id="btn_view" name="btn_view" value="查看数据">
<br /><hr />
<div id='show' style="width:100%;float:left;"></div>



<script type="text/javascript">
var thisPage;
function check(key){
	var pattern = /[^0-9]/g;
	if(pattern.test(key.value)){
		alert('Please enter number');
		$("#turn").val('');
	}
	return false;
}
function turnPage(){
	var page = $("#turn").val();
	getData(page);
}
function getData(page){
	document.getElementById('btn_view').disabled=true;
	thisPage = page;
	showData();
}
function showData(allianceId){
	$("#show").html("<h3 style='color:red;'>Loading.......</h3>");
	var url ='admincp.php?mod=user&act=battle&dotype=getPageData&page='+thisPage+'&battleType='+$("#battleType").val()+'&type='+$("#type").val();
		url += '&start='+$("#start_time").val()+'&end='+$("#end_time").val();
	if($.trim($("#allName").val()))
		url += '&allName='+$("#allName").val();
	if($.trim($("#useruid").val()))
		url += '&useruid='+$("#useruid").val();
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
function getAction(){
	right=document.getElementById('show');
	if(xmlHttp.readyState==4){
		if (xmlHttp.status==200){
			/**if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
				showLogin(showData);
				return;
			}**/
			right.innerHTML=xmlHttp.responseText;
			document.getElementById('btn_view').disabled=false;
			//new superTable("table", {
			//headerRows : 1,
			//fixedCols : 2
		    //});
			return;
		}
	}
}
init();
function init(){
	$("#start_time,#end_time").datetimepicker();
}
</script>

<!--{template footer}-->