<!--{template header}-->
<div class="alert alert-info">$title<font color="red">$alert</font></div>
<form action="admincp.php?mod=user&act=pwd&type=1" method="POST" style="display: inline-table;">
    <span>用户名</span>
    <span><input type="text" id="username" name="username" value='{$username}'></input></span>
    <span>UID</span>
    <span><input type="text" id="useruid" name="useruid" value='{$useruid}'></input></span>
    <input class="btn js-btn btn-primary" type="submit" value="{$MALANG['btn_view']}" />
</form>
<!--{if isset($items) }-->
<div id="tip" style="font-size:16px;width:auto;height:auto;padding:2px;border:1px solid #000000;background-color:#ffffdd;position:absolute;visibility:hidden"></div>
<table class="listTable" style="width: 100%; text-align: center">
    <tr class="listTr">
        <!--{loop $dbArray $dbName $dbData}-->
        <th width=2%>{$dbData['name']}</th>
        <!--{/loop}-->
    </tr>
    <!--{loop $items  $key $value}-->
    <tr class="listTr" onMouseOver="this.style.background='#ffff99'" onMouseOut="this.style.background='#fff';"  >
        <!--{loop $dbArray $dbName $dbData}-->
        <!--{if $dbData['editable']}-->
        <td width="2%" id="$dbName"><a href="javascript:void(edit('{$username}','{$useruid}','$dbName','$value[$dbName]','{$value['uid']}','{$value['god_id']}'))">$value[$dbName]</a></td>
        <!--{else}-->
        <td width="2%">$value[$dbName]</td>
        <!--{/if}-->
        <!--{/loop}-->
    </tr>
    <!--{/loop}-->
</table>
<!--{/if}-->
<!--{template footer}-->