<!--{template header}-->
<div class="alert alert-info">
	玩家装备<font color="red"> </font>
</div>
<form action="admincp.php?mod=user&act=userEquipment&type=1" method="POST" style="display: inline-table;">
	<span>用户名</span> <span><input type="text" id="username"
								  name="username" value='{$username}'></input></span> <span>UID</span>
	<span>	<input	type="text" id="useruid" name="useruid" value='{$useruid}'></input></span>
	<input	class="btn js-btn btn-primary" type="submit" name="search" value="{$MALANG['btn_view']}" />
	$clearall
</form>
<!--{if isset($items) }-->
<div id="tip"
	 style="font-size: 16px; width: auto; height: auto; padding: 2px; border: 1px solid #000000; background-color: #ffffdd; position: absolute; visibility: hidden"></div>
<table class="listTable" style="width: 100%; text-align: center">
	<tr class="listTr">
		<!--{loop $dbArray $dbName $dbData}-->
		<th width=2% style="text-align: center;">{$dbData['name']}</th>
		<!--{/loop}-->
	</tr>
	<!--{loop $items  $key $value}-->
	<tr class="listTr" onMouseOver="this.style.background='#ffff99'"
		onMouseOut="this.style.background='#fff';" id="$value['uuid']">
		<!--{loop $dbArray $dbName $dbData}-->
		<!--{if $dbData['editable']}-->
		<td width="2%" id="$dbName"><a
				href="javascript:void(edit('{$username}','{$useruid}','$dbName','{$value['uuid']}','$value[$dbName]'))">$value[$dbName]</a></td>
		<!--{else}-->
		<td width="2%">$value[$dbName]</td>
		<!--{/if}-->
		<!--{/loop}-->
	</tr>
	<!--{/loop}-->
</table>
<br />
<!--<form-->
<!--action="admincp.php?mod=modify&act=equip&type=2&username={$username}&useruid={$useruid}"-->
<!--method="POST">-->
<!--<div class="alert alert-info">添加装备</div>-->
<!--<span>装备ID</span><span><input type="text" name="itemId" value=""></span>-->
<!--<span>数量</span><span><input type="text" name="count" value="1"></span>-->
<!--<input class="btn js-btn btn-danger" type="submit" value="添加" />-->
<!--</form>-->
<!--{/if}-->
<script type="text/javascript">
	var mouseX = 0;
	var mouseY = 0;
	$(document).mousemove(function(e) {
		mouseX = e.pageX;
		mouseY = e.pageY;
	});
	var count = 0;
	function doClear() {
		count++;
		if (count >= 2) {
			alert('一次只能修改一项,请把未完成的项保存');
			rightinfo();
		}
	}
	function edit(uname, uuid, vid, uid, num) {
		doClear();
		unameSide = uname;
		uuidSide = uuid;
		guidSide = uid;
		modify_name = vid;
		var tdnode = document.getElementById(uid).childNodes;
		for ( var i = 0; i < tdnode.length; i++) {
			if (tdnode[i].id == vid)
				right = tdnode[i];
		}
		var str = '<form id="form1" style="margin:0">输入值: <input class="input-mini" name="num" type="text" id="num'+uid+'" value="'+num+'"><br/>当前:'
				+ num
				+ ' <input type="button" id="savebtn" value="保存" onclick=save(num)> <input type="button" id="cancelbtn" value="取消" onclick="rightinfo()"></form>';
		right.innerHTML = str;
	}
	function save(num) {
		var url = 'admincp.php?mod=user&act=userEquipment&type=3&username='
				+ unameSide + '&useruid=' + uuidSide + '&num=' + num.value
				+ '&uuid=' + guidSide + "&vid=" + modify_name;
		xmlHttp = getAjax();
		xmlHttp.onreadystatechange = getAction;
		xmlHttp.open("GET", url, true);
		xmlHttp.send(null);
	}
	function deleteLine(uname, uuid, buildingUid) {
		unameSide = uname;
		uuidSide = uuid;
		if (confirm('是否确定删除')) {
			var url = 'admincp.php?mod=user&act=userEquipment&type=5&uuid='
					+ buildingUid;
			xmlHttp = getAjax();
			xmlHttp.onreadystatechange = back;
			xmlHttp.open("GET", url, true);
			xmlHttp.send(null);
		}
	}

	function getAction() {
		if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			if (xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>) {
			showLogin();
			return;
		}
		rightinfo();
		return;
		}
		}
	function rightinfo() {
		self.location = 'admincp.php?mod=user&act=userEquipment&type=1&username='
				+ unameSide + '&useruid=' + uuidSide;
	}
	function back() {
		if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
			self.location = 'admincp.php?mod=user&act=userEquipment&type=1&username='
					+ unameSide + '&useruid=' + uuidSide;
		}
	}
</script>
<!--{template footer}-->