<!--{template header}-->
<div class="alert alert-info"><?php echo "vip积分变换记录";?></div>
起始时间<input class="input-large focused" id="start_time" name="start_time" type="text" placeholder="点击选择日期" value="{$start}">
结束时间<input class="input-large focused" id="end_time" name="end_time" type="text" placeholder="点击选择日期" value="{$end}">
</br>
用户UID<input id="user" name='user' type="text" value='{$user}' size="50"/>
<input class="btn js-btn btn-primary" type="button" onclick="getData(1)" name="btn_view" value="查看">
<div id='show' style="float:left;width:95%;height:auto"></div>
$sql
<script type="text/javascript">
function getData(page){
	url = 'admincp.php?mod=user&act=vipChange&analyze=user&page='+page+'&start='+$('#start_time').val()+'&user='+$('#user').val()+'&end='+$('#end_time').val();
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
function turnPage(){
	var page = $("#turn").val();
	getData(page);
}
function check(key){
	var pattern = /[^0-9]/g;
	if(pattern.test(key.value)){
		alert('Please enter number');
		$("#turn").val('');
	}
	return false;
}
init();
function init(){
	$("#start_time").datetimepicker();
    $("#end_time").datetimepicker();
}
function getAction(){
	right=document.getElementById('show');
	if(xmlHttp.readyState==4){
		if (xmlHttp.status==200){
			if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
				showLogin(getLogData);
				return;
			}
			right.innerHTML=xmlHttp.responseText;
			return;
		}
	}
}
</script>
<!--{template footer}-->
