<!--{template header}-->
<div class="alert alert-info"><?php echo "世界怪物统计";?><font color="red" id="showtips"></font></div>
起始时间<input class="input-large focused" id="start_time" name="start_time" type="text" placeholder="点击选择日期" value="$dateMin">
结束时间<input class="input-large focused" id="end_time" name="end_time" type="text" placeholder="点击选择日期" value="$dateMax">
<br />
用户UID
<input id="user" name='user' type="text" value='{$user}' size="50"/>
注册天数 : <input class="input-small" id="regDate" name='regDate' type="text" value='7' style="width: 50px;" /> 天内
<br>
玩家等级范围 : <input class="input-small" id="levelMin" name='levelMin' type="text" value='1' style="width: 50px;" /> - 
<input class="input-small" id="levelMax" name='levelMax' type="text" value='99' style="width: 50px;" />
大本等级范围 : <input class="input-small" id="buildMin" name='buildMin' type="text" value='1' style="width: 50px;" /> - 
<input class="input-small" id="buildMax" name='buildMax' type="text" value='99' style="width: 50px;" />&nbsp;&nbsp;&nbsp;&nbsp;

<input class="btn js-btn btn-primary" type="button" onclick="getData(1)" name="btn_view"  id="btn_submit" value="统计数据">
<hr />
<div id='show' style="width:100%;float:left;height:auto"></div>


<script type="text/javascript">
var thisPage;
function check(key){
	var pattern = /[^0-9]/g;
	if(pattern.test(key.value)){
		alert('Please enter number');
		$("#turn").val('');
	}
	return false;
}
function turnPage(){
	var page = $("#turn").val();
	getData(page);
}
function getData(page){
	document.getElementById('btn_submit').disabled=true;
	thisPage = page;
	showData();
}
function showData(){
	$("#show").html("<h3 style='color:red;'>Loading.......</h3>");
	var objs = document.getElementsByName('server');
	for(i=0;i<objs.length;i++){
		if(objs[i].checked)
		{
			selectServer = objs[i].value;
			break;
		}
	}
	url = 'admincp.php?mod=stat&act=monster&getData=true&start='+$('#start_time').val()+'&end='+$('#end_time').val()+'&user='+$('#user').val()+
			'&levelMin='+$('#levelMin').val()+'&levelMax='+$('#levelMax').val()
			+ '&buildMin='+$("#buildMin").val()+'&buildMax='+$("#buildMax").val()+'&page='+thisPage+'&regDate='+$('#regDate').val();
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
init();
function init(){
	$("#start_time").datetimepicker();
    $("#end_time").datetimepicker();
}
function getAction(){
	right=document.getElementById('show');
	right.innerHTML = 'loading';
	if(xmlHttp.readyState==4){
		if (xmlHttp.status==200){
			if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
				showLogin(getLogData);
				return;
			}
			right.innerHTML=xmlHttp.responseText;
			document.getElementById('btn_submit').disabled=false;
			return;
		}
	}
}
function changeEvent(){
	if($("#selectEvent").val() == "LastAction"){
		$("#showtips").html('	注意，起止时间是玩家注册时间！');
	}
	else{
		$("#showtips").html("");
	}
}


</script>
<!--{template footer}-->