<!--{template header}-->
<script language="javascript" src="include/highcharts/highcharts.js"></script>
<form action="admincp.php?mod=stat&act=online_daily_graph&server={$selectServer}" method="post" name="getaccount">
<div class="alert alert-info"><?php echo "查看登陆用户注册日期分布";?><font color="red"></font></div>
<div class="container" style="width: auto;">
	<input type="hidden" name="server" id="server" value={$selectServer}>
	<ul class="nav nav-tabs">
	<li>
	<input type='checkbox' id="all_server" name="all_server"  onClick="serverall()"  />
	all 
	</li>
	<!--{loop $servers $server $serverSettings}-->
		<li>
		<!-- {if ($selectServer && in_array($server,$selectServer)) || (!$selectServer && $server==getCurrServer())} -->
			<input type='checkbox' id="server_{$server}" name="{$server}"  onClick="checkserverall()" checked />
		<!-- {else} -->
			<input type='checkbox' id="server_{$server}" name="{$server}" onClick="checkserverall()" />
		<!-- {/if} -->
		$server</li>
	<!--{/loop}-->
	</ul>
</div>
<div class="row-fluid">
<div class="span11">
请选择登陆日期<input id="date" name='date' type="text" value='{$rDate}' class="input-medium"/>
<input class="btn js-btn btn-primary" type="button" value="点击开始查询" name="btn_view" onclick="search()" />
</div>
</div>
</form>
<div id="chart" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
<!-- {if $legoinArr} -->
	<script type="text/javascript">
		var showData = [];
		var xCategories = [];
		var svData = [];
	</script>
	<!--{loop $legoinArr  $regDay $count}-->
		<script type="text/javascript">
		xCategories.push($regDay);
		</script>
	<!--{/loop}-->
	<!--{loop $legoinArr  $regDay $count}-->
		<script type="text/javascript">
		var temp = [];
		temp.push($dayLang[$regDay]);
		temp.push($count);
		svData.push(temp);
		</script>
	<!--{/loop}-->
	<script type="text/javascript">
		showData.push({
					"type":"pie",
					"name":"人数",
					"data":svData});
	</script>
	<script type="text/javascript">
	var chart;
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'chart',
			type: 'column',
			plotBorderWidth: 0,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
		},
		title: {
			align: 'right',
			text: ''
		},
		subtitle: {
			text: '注册天数活跃用户'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.y}</b>',
			percentageDecimals: 1
		},
		legend: {
				enabled: true
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					color: '#000000',
					connectorColor: '#000000',
					formatter: function() {
						return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage*100)/100 +' %';
					}
				}
			}
		},
		credits:{
			enabled:false
		},
		series: showData
	});
	</script>
<!-- {/if} -->


<script type="text/javascript">
$("#date").datetimepicker();
function serverall(){
	var currentObj = document.getElementById('all_server');
	var objs=document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		var objId = objs[i].id.split('_');
		if(objId[0]=='server'){
			objs[i].checked = currentObj.checked;
		}
	}	
}
function checkserverall(){
	document.getElementById('all_server').checked = true;
	var objs=document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		var objId = objs[i].id.split('_');
		if(!objs[i].checked&&objId[0]=='server')
		{
			document.getElementById('all_server').checked = false;
			break;
		}
	}
}
function search(){
	var objs = document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		document.getaccount.submit();
		return;
	}
	alert("请选择需要查询的服");
}
</script>

<!--{template footer}-->