</div>
</div>
<script type='text/javascript' src="bootstrap/js/bootstrap.js?v=$jsVersion"></script>
<script type='text/javascript' src="bootstrap/js/jquery.unveil.min.js?v=$jsVersion"></script>
<!-- <script type='text/javascript' src="bootstrap/js/jquery.scrollUp.min.js?v=$jsVersion"></script>
<script type='text/javascript' src="bootstrap/js/toc.min.js?v=$jsVersion"></script>
<script type='text/javascript' src="bootstrap/js/site.min.js?v=$jsVersion"></script> -->
<!-- 
<footer class="footer" style="position: fixed; bottom: 5px; right: 5px">
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>
		developed by rome@elex
	</p>
</footer> -->

<!--<div id='bottomDiv' style='position:absolute;bottom:0px;margin:0px;width:100%;height: 110px;'>-->
    <!--<div style="text-align: center;font-size: 14px;">网页底部</div>-->
<!--</div>-->
<!--<div style="">-->
    <!--<div style="float:left;width:200px"></div>-->
    <!--<div style="margin-left: 200px"></div>-->
<!--</div>-->
<div style="clear:both;float: left;width: 100%;background-color: #f0f0f0;text-align: center;font-size: 14px;height: 50px;padding: 15px;">
    <span  style="text-align: center;font-size: 14px;">&copy; 2016 elex </span>
    <!--<div style="text-align: center;font-size: 14px;">网页底部</div>-->
</div>
</body>
</html>