	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main"  style="width: 90%;float: initial;">
		<!--Body content-->
		<!--{if !empty ( $sys_error )}-->
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a> <strong>{$sys_error}</strong>
		</div>
		<!--{/if}-->
		<!--{if !empty ( $error_msg )}-->
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert">×</a> <strong>{$error_msg}</strong>
		</div>
		<!--{/if}-->
		<!--{if !empty ( $op_msg )}-->
		<div class="alert alert-info">
			<a class="close" data-dismiss="alert">×</a> <strong>{$op_msg}</strong>
		</div>
		<!--{/if}-->