<!--{template header}-->
<div class="alert alert-info"><?php echo "各服活动开放显示";?><font color="red"></font></div>
<form action="admincp.php?mod=op&act=activityList&analyze=user" method="post" name="getaccount" style="display: inline-table;">

$serverDiv

起始日期<input class="input-large focused" id="start_time" name="start_time" type="text" style="width: 120px;" placeholder="点击选择日期" value="{$start}">
结束时间<input class="input-large focused" id="end_time" name="end_time" type="text" style="width: 120px;" placeholder="点击选择日期" value="{$end}">
<input class="btn js-btn btn-primary" type="button" onclick="search()" id="btn_view" name="btn_view" value="统计充值数据">
<input class="display:none;" type="hidden" value="" id="action" name="action"/>
<div id='show' style="float:left;width:105%;height:auto"></div>
</form>
<div>
	{$actHtml}
</div>

<script type="text/javascript">

init();
function init(){
	$("#start_time,#end_time").datetimepicker();
}
function serverall(){
	var currentObj = document.getElementById('all_server');
	var objs=document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		var objId = objs[i].id.split('_');
		if(objId[0]=='server'){
			objs[i].checked = currentObj.checked;
		}
	}	
}
function checkserverall(){
	document.getElementById('all_server').checked = true;
	var objs=document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		var objId = objs[i].id.split('_');
		if(!objs[i].checked&&objId[0]=='server')
		{
			document.getElementById('all_server').checked = false;
			break;
		}
	}
}
function search(){
	document.getElementById('btn_view').disabled=true;
	/* var objs = document.getElementsByTagName("input");
	for(i=0;i<objs.length;i++){
		if(objs[i].checked)
		{ */
			document.getaccount.submit();
			/* return;
		}
	}
	alert("请选择需要查询的服"); */
}
</script>
<!--{template footer}-->