<!--{template header}-->
<div class="alert alert-info"><?php echo "给多个用户发送邮件,物品各自不一样,会自动查询玩家所在服";?><font color="red"></font></div>
<input type="radio" id="manage" name="keyType" value="view" onclick="changeType()" checked /> 查看已发邮件
<input type="radio" id="add" name="keyType" value="add" onclick="changeType()" /> 发送新邮件
<div id="manageDiv">
	<div id='show' style="width:100%;float:left;height:450px;"></div>
</div>
<form action="admincp.php?mod=op&act=groupMail2" method="post" name="getaccount" enctype="multipart/form-data">
	<input class="display:none;" type="hidden" value="" id="type" name="type" />
	<input class="display:none;" type="hidden" value="" id="mailUid" name="mailUid" />
	<div id="addDiv" style="display:none">
	<table class="listTable" cellspacing=1 padding=0 style="width: 40%; text-align: center">
		<tr>
		<td>UID&nbsp;&nbsp;(多个uid用';'分割)</td>
		<!--<td><input class="input-large focused" id="uids" name="uids" type="text" value="" /></td></tr>-->
			<td><textarea id="uids" name="uids" rows="6" cols="80"></textarea></td>
			<td><label>例子 10002427300000001;10000035506000001</label></td>
		</tr>
		<tr><td>邮件标题</td><td><input class="input-large focused" id="title" name="title" type="text" value="" maxlength=40 /></td></tr>
		<tr><td>邮件内容</td><td><textarea  id="contents" name="contents" rows="6" cols="80"></textarea></td></tr>
		<tr><td>附件奖励<font color="red"><br/>多个ID用'|'分隔<br/>多人用;分隔</font></td>
			<td><textarea  id="rewards" name="rewards" rows="6" cols="80"></textarea></td>
			<td><label>例子 goods,100000554,1|goods,100000555,2|goods,100000556,3;goods,100000557,4|goods,100000558,5|goods,100000559,6</label></td>
		</tr>
		<tr><td></td>
			<td>
				<button type="button" class="btn btn-info" name="btn_set" id="btn_set" onclick="checksubmit('add')">添加</button>
				<button type="reset" class="btn">重置</button>
			</td>
		</tr>
	</table>
	</div>
</form>
<script type="text/javascript">
function showReward(buttonId,showId){
	document.getElementById(buttonId).style.display = 'none';
	document.getElementById(showId).style.display = 'inline-table';
}
function changeType(){
	if(document.getElementById('add').checked)
	{
		document.getElementById('manageDiv').style.display = 'none';
		$('#addDiv').show();
	}
	if(document.getElementById('manage').checked)
	{
		document.getElementById('addDiv').style.display = 'none';
		$('#manageDiv').show();
	}
}
function isEmpty(value){
	if(value == null || value ==""){
		return true;
	}else{
		return false;
	}
}
function sendReward(mailUid){
	document.getElementById('type').value = 'sendReward';
	document.getElementById('mailUid').value = ''+mailUid;
	document.getaccount.submit();
}
function checksubmit(type){
	if(type == 'add'){
		var uids = $('#uids').val();
		var rewards = $('#rewards').val();
		var inputTitle = $('#title').val();
		var inputContents = $('#contents').val();

		if(isEmpty(uids)){
			alert("<?php echo 'please input uids';?>");
			$("#uids").focus();
			return false;
		}
		if(isEmpty(inputTitle)){
			alert("<?php echo 'please input title';?>");
			$("#title").focus();
			return false;
		}
		if(isEmpty(inputContents)){
			alert("<?php echo 'please input contents';?>");
			$("#contents").focus();
			return false;
		}
		if(isEmpty(rewards)){
			alert("<?php echo 'please input rewards';?>");
			$("#rewards").focus();
			return false;
		}
	}
	document.getElementById('btn_set').disabled=true;

	if(confirm('确认提交?')) {
		document.getElementById('type').value = type;
		document.getaccount.submit();
	}
}
getData(1);
function check(key){
	var pattern = /[^0-9]/g;
	if(pattern.test(key.value)){
		alert('Please enter number');
		$("#turn").val('');
	}
	return false;
}
function turnPage(){
	var page = $("#turn").val();
	getData(page);
}
function getData(page){
	var url ='admincp.php?mod=op&act=groupMail2&page='+page;
	xmlHttp=getAjax();
	xmlHttp.onreadystatechange = getAction;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}
function getAction(){
	right=document.getElementById('show');
	if(xmlHttp.readyState==4){
		if (xmlHttp.status==200){
			if(xmlHttp.responseText.length == <?php echo MAIN_PAGE_LENGTH;?>){
				showLogin();
				return;
			}
			right.innerHTML=xmlHttp.responseText;
		document.getElementById('btn_set').disabled=false;

			return;
		}
	}
}
</script>
<!--{template footer}-->